body {
  text-align: center;
  margin: 0;
}

marquee{
  position: absolute;
  top: 8%;
  right: 0;
}

#hello{
  font-family: 'Roboto Mono', monospace;
  font-size: 300%;
}

#intro{
  font-family: 'Rock Salt', cursive;
  font-size: 200%;
}

.cursor {
  display: inline-block;
  background-color: #000000;
  width:4px;
  animation: blink 1s infinite;
}

.front-text{
  display: inline-block;
  max-width: 60%;
  margin-top: 6%;
  margin-bottom: 24%;
}

.top-container {
  position: relative;
  padding-top: 5%;
  /* background-color: #4CC5FE; */
  background: linear-gradient(#3f87a6, #cdc794, #f69d3c);
  /* height: 90vh; */
}

.scene{
  display: block;
  max-width: 80%;
  position: absolute;
  bottom: 0;
  right: 10%;
  margin-top: 6.25rem;
}

.cloud-1, .cloud-2, .cloud-3, .sun {
  width: 8%;
}

.cloud-1{
  width: 9%;
  position: absolute;
  left: 15.875%;
  top: 7.5%;
}

.cloud-2{
  width: 7%;
  position: absolute;
  right: 20%;
  top: 18.25%;
}

.cloud-3{
  width: 5%;
  position: absolute;
  bottom: 45.75%;
  left: 30.25%;
}

.sun {
  width: 7%;
  position: absolute;
  left: 20.5%;
  top: 8.25%;
}

.plane{
  width: 6%;
}

.middle-container{
  height: 100vh;
}


@keyframes blink {
  0%  { background-color: #000000; }
  49% { background-color: #000000; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #000000; }
}
