body {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

marquee{
  position: absolute;
  top: 8%;
  right: 0;
}

hr{
  border: 5px dotted #4cbbb9;
  border-bottom: none;
  width: 3%;
  margin: 8vh auto;
}

.rule{
  padding: 1%;
  background: linear-gradient(#cac174, #eff3c6);
}

#hello{
  font-family: 'Roboto Mono', monospace;
  font-size: 280%;
}

#intro{
  font-family: 'Sacramento', cursive;
  font-size: 300%;
}

/* #backend{
  padding-left: 50px;
  padding-right: 50px;
} */

.cursor {
  display: inline-block;
  background-color: #000000;
  width:4px;
  animation: blink 1s infinite;
}

.front-text{
  display: inline-block;
  max-width: 60%;
  margin-top: 6%;
  margin-bottom: 24%;
}

.top-container {
  position: relative;
  padding-top: 5%;
  /* background-color: #4CC5FE; */
  background: linear-gradient(#2EB5E5, #cac174);
  /* background:#2EB5E5 ; */
  /* height: 90vh; */
  margin-bottom: 0;
}

.scene{
  display: block;
  max-width: 80%;
  position: absolute;
  bottom: 0;
  right: 10%;
  margin-top: 6.25rem;
}

.cloud-1, .cloud-2, .cloud-3, .sun {
  width: 8%;
}

.cloud-1{
  width: 9%;
  position: absolute;
  left: 15.875%;
  top: 7.5%;
}

.cloud-2{
  width: 7%;
  position: absolute;
  right: 20%;
  top: 18.25%;
}

.cloud-3{
  width: 5%;
  position: absolute;
  bottom: 50.75%;
  left: 30.25%;
}

/* .sun {
  width: 7%;
  position: absolute;
  left: 20.5%;
  top: 8.25%;
} */

.plane{
  width: 6%;
}

@keyframes blink {
  0%  { background-color: #000000; }
  49% { background-color: #000000; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #000000; }
}

.sun {
  position: absolute;
  left: -50%;
  top: -75%;
	right:0;
	bottom:0;
	margin: auto;
  width: 5vw;
  height: 5vw;
	border-radius:50%;
	background:white;
	opacity:0.9;
	box-shadow: 0px 0px 40px 15px white;
}

.ray_box {
  position: absolute;
  margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;
  width:70px;
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}

.ray1 {
    height:170px;
    width:30px;
   -webkit-transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
   -webkit-transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
   -webkit-transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
   -webkit-transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
   -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
   -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
   -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
   -webkit-transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
   -webkit-transform: rotate(150deg);
    top:-185px;
    left: -60px;
}

.middle-container{
  padding: 3.5%;
  background-color: #eff3c6;
  margin-top: 0;
  text-align: center;
  padding-bottom: 7vh;
}

.intro-img{
  border-radius: 50%;
  background-color: #77d8d8;
  width: 20vh;
  margin: 2% auto;
}

ul{
  display: inline-block;
  text-align:left;
}

.intro-text{
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  text-align: justify;
  font-size: 17px;
}

.bottom-container{
  padding: 4vh;
  background-color: #4cbbb9;
}

.skill-btn{
  background-color: #eff3c6;
  margin: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.skill-btn:focus{
  outline: none;
  border: none;
  background-color: white;
}

.card{
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  margin-top: 2%;
  width: 40vw;
}

@-webkit-keyframes ray_anim {
		0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}


.testbutton {
  font-family: sans-serif;
  text-decoration: none;
  color: #000000 !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 10px #BEE2F9;
  padding: 10px 24px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #0779e4;
  background: #63B8EE;
  background: linear-gradient(top,  #69E6FF,  #44A9B8);
  background: -ms-linear-gradient(top,  #69E6FF,  #44A9B8);
  background: -webkit-gradient(linear, left top, left bottom, from(#69E6FF), to(#44A9B8));
  background: -moz-linear-gradient(top,  #69E6FF,  #44A9B8);
}
.testbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #44A9B8,  #69E6FF);
  background: -ms-linear-gradient(top,  #44A9B8,  #69E6FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#44A9B8), to(#69E6FF));
  background: -moz-linear-gradient(top,  #44A9B8,  #69E6FF);
}

.active{
  /* background-color: gray; */
}

.buttons{
  background-color: #eff3c6;
  font-family: 'Muli', sans-serif;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
}

li{
  line-height: 150%
}

ul{
  font-size: 90%;
}

.contact-para{
  margin-top: 4vh;
  margin-bottom: 6vh;
}

a{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10%;
  text-decoration: none;
  color: black;
  font-family: 'Muli', sans-serif;
}

a:hover{
  color: white;
}

.copyright{
  margin: 3vh 0 0 0;
}

h2{
  font-family: 'Aclonica', sans-serif;
}

p,ul{
  font-family: 'Muli', sans-serif;
}

.skill-description{
  margin-left: auto;
}

ul {
    width: auto;
    margin: auto;
}


/* 4cbbb9 for footer
0779e4 extra */
